In [66]:
import pandas as pd
import json
import numpy as np
from config import tmdb_api_key
import requests

In [6]:
numbers_budget_df = pd.read_csv("tn.movie_budgets.csv")

In [57]:
tmdb_df = pd.read_csv("tmdb_df.csv")

In [58]:
numbers_budget_df.shape

(5782, 7)

In [55]:
numbers_budget_df.to_csv("numbers_budget_df.csv", index=False)

In [59]:
tmdb_df.shape

(4776, 14)

In [10]:
numbers_budget_df.rename(columns={'movie':'title'}, inplace=True)

In [54]:
numbers_budget_df[numbers_budget_df["title"] == "Halloween"]

,id,release_date,title,production_budget,domestic_gross,worldwide_gross,year
3014,15,"Aug 31, 2007",Halloween,"$15,000,000","$58,269,151","$77,514,401",2007
3535,36,"Oct 19, 2018",Halloween,"$10,000,000","$159,342,015","$254,900,667",2018
5536,37,"Oct 17, 1978",Halloween,"$325,000","$47,000,000","$70,000,000",1978

In [13]:
temp_df = numbers_budget_df.merge(tmdb_df, on='title', how='inner')

In [24]:
temp_df["title"].value_counts().head(70)

Home                         9
Halloween                    9
King Kong                    9
Total Recall                 4
Twilight                     4
                            ..
The Signal                   4
The Birth of a Nation        4
A Nightmare on Elm Street    4
The Calling                  4
Carrie                       4
Name: title, Length: 70, dtype: int64

In [32]:
tmdb_df["release_date"][0]

'2009-12-10'

In [34]:
tmdb_df["release_date"][0][:4]

'2009'

In [61]:
tmdb_df['year'] = tmdb_df["release_date"].map(lambda x: str(x)[:4])

In [46]:
numbers_budget_df['year'] = numbers_budget_df["release_date"].map(lambda x: str(x)[-4:])

In [48]:
numbers_budget_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5782 entries, 0 to 5781
Data columns (total 7 columns):
id                   5782 non-null int64
release_date         5782 non-null object
title                5782 non-null object
production_budget    5782 non-null object
domestic_gross       5782 non-null object
worldwide_gross      5782 non-null object
year                 5782 non-null object
dtypes: int64(1), object(6)
memory usage: 316.3+ KB

In [62]:
temp_df2 = numbers_budget_df.merge(tmdb_df, on=['title', "year"], how='inner')

In [65]:
temp_df2

,id_x,release_date_x,title,production_budget,domestic_gross,worldwide_gross,year,popularity,vote_count,video,poster_path,id_y,adult,backdrop_path,original_language,original_title,genre_ids,vote_average,overview,release_date_y
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279",2009,81.649,22183,False,/6EiRUJpuoeQPghrs3YNktfnqOVh.jpg,19995,False,/bIL7ENqh1egWTxN41sM2W42JqPc.jpg,en,Avatar,"[28, 12, 14, 878]",7.5,"In the 22nd century, a paraplegic Marine is di...",2009-12-10
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875",2011,49.185,10310,False,/9zxsSzXx2UO3yNoS4j97vs4uOhc.jpg,1865,False,/bfTKq6mGHt2CzZlBU31JHF9bMog.jpg,en,Pirates of the Caribbean: On Stranger Tides,"[28, 12, 14]",6.5,Captain Jack Sparrow crosses paths with a woma...,2011-05-14
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350",2019,122.894,3997,False,/cCTJPelKGLhALq3r51A9uMonxKj.jpg,320288,False,/phxiKFDvPeQj4AbkvJLmuZEieDU.jpg,en,Dark Phoenix,"[28, 12, 878]",6.1,The X-Men face their most formidable and power...,2019-06-05
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963",2015,77.916,16653,False,/4ssDuvEDkSArWEdyBl2X5EHvYKU.jpg,99861,False,/8i6ZDk97Vyh0jHohMG4vFeFuKJh.jpg,en,Avengers: Age of Ultron,"[28, 12, 878]",7.3,When Tony Stark tries to jumpstart a dormant p...,2015-04-22
4,7,"Apr 27, 2018",Avengers: Infinity War,"$300,000,000","$678,815,482","$2,048,134,200",2018,240.150,19926,False,/7WsyChQLEftFiDOVTGkv3hFpyyt.jpg,299536,False,/lmZFxXgJE3vgrciwuDib0N8CfQo.jpg,en,Avengers: Infinity War,"[28, 12, 878]",8.3,As the Avengers and their allies have continue...,2018-04-25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4361,65,"Dec 31, 2007",Tin Can Man,"$12,000",$0,$0,2007,1.584,3,False,/2YMMRWzq9SzZEYau1iAtdTPN269.jpg,157185,False,NaN,en,Tin Can Man,[27],3.0,Recently dumped by his girlfirend for another ...,2007-01-01
4362,67,"Apr 28, 2006",Clean,"$10,000","$138,711","$138,711",2006,0.600,0,False,/kOk47vD8E0dScAyNVNCXhsncaE4.jpg,586483,False,NaN,en,Clean,[],0.0,A dangerous serial killer decides to go out wi...,2006-03-05
4363,71,"Aug 14, 2008",The Rise and Fall of Miss Thang,"$10,000",$401,$401,2008,0.600,0,False,/2YkIO5qjfhyICn5wXhLYMJLk152.jpg,579116,False,NaN,en,The Rise and Fall of Miss Thang,[],0.0,An irresponsible party girl begins a journey t...,2008-08-14
4364,75,"Oct 8, 2004",Primer,"$7,000","$424,760","$841,926",2004,71.750,1378,False,/xEoq2WmDzpzxhkHEsmOYOg6BPg6.jpg,14337,False,/gIFbfh9O4HBrO6numxVBxtZ9fTL.jpg,en,Primer,"[18, 878, 53]",6.9,Friends and fledgling entrepreneurs invent a d...,2004-10-08
4365,79,"Apr 2, 1999",Following,"$6,000","$48,482","$240,495",1999,8.174,934,False,/lK9LE5D67HNyPlhJcjKAgnRh0OO.jpg,11660,False,/gCpl06aiAGUrPrmspeqhdKVQRT1.jpg,en,Following,"[18, 53]",7.2,"Bill, an idle, unemployed aspiring writer, wal...",1999-04-02

In [68]:
response = requests.get(f"https://api.themoviedb.org/3/genre/movie/list?api_key={tmdb_api_key}&language=en-US")

In [73]:
len(response.json()["genres"])

19

In [79]:
genres = {}
for genre in response.json()["genres"]:
    genres[str(genre["id"])] = genre["name"]

{'28': 'Action',
 '12': 'Adventure',
 '16': 'Animation',
 '35': 'Comedy',
 '80': 'Crime',
 '99': 'Documentary',
 '18': 'Drama',
 '10751': 'Family',
 '14': 'Fantasy',
 '36': 'History',
 '27': 'Horror',
 '10402': 'Music',
 '9648': 'Mystery',
 '10749': 'Romance',
 '878': 'Science Fiction',
 '10770': 'TV Movie',
 '53': 'Thriller',
 '10752': 'War',
 '37': 'Western'}

In [98]:
temp_df2["genre_names"] = temp_df2["genre_ids"].map(lambda x: x.strip("][").split(", "))

In [99]:
def get_genre_names(genre_list):
    #separate_genres = genre_list.strip("][").split(", ")
    genre_names = [genres[x] for x in genre_list]
    return ", ".join(genre_names)

In [100]:
get_genre_names(temp_df2["genre_names"][0])

'Action, Adventure, Fantasy, Science Fiction'

In [103]:
for key, value in genres.items():
    temp_df2[value] = temp_df2["genre_ids"].map(lambda x: key in x)

In [123]:
temp_df2.shape

(4366, 41)

In [128]:
no_genres = temp_df2[temp_df2["genre_ids"] == "[]"].index

In [130]:
list(no_genres)

[1350,
 2779,
 3595,
 3937,
 4052,
 4102,
 4116,
 4117,
 4181,
 4221,
 4229,
 4246,
 4250,
 4255,
 4287,
 4293,
 4348,
 4360,
 4362,
 4363]

In [131]:
clean_df_v3 = temp_df2.drop(index = list(no_genres))

In [133]:
no_gross = clean_df_v3[clean_df_v3["worldwide_gross"] == "$0"].index

In [135]:
clean_df_v4 = clean_df_v3.drop(index = list(no_gross))

False    4165
True        1
Name: video, dtype: int64

In [145]:
clean_df_v4.columns

Index(['id_x', 'release_date_x', 'title', 'production_budget',
       'domestic_gross', 'worldwide_gross', 'year', 'popularity', 'vote_count',
       'video', 'poster_path', 'id_y', 'adult', 'backdrop_path',
       'original_language', 'original_title', 'genre_ids', 'vote_average',
       'overview', 'release_date_y', 'genre_names', 'value', 'Action',
       'Adventure', 'Animation', 'Comedy', 'Crime', 'Documentary', 'Drama',
       'Family', 'Fantasy', 'History', 'Horror', 'Music', 'Mystery', 'Romance',
       'Science Fiction', 'TV Movie', 'Thriller', 'War', 'Western'],
      dtype='object')

In [149]:
clean_df_v5 = clean_df_v4.drop(columns = ["id_x", "release_date_x", "id_y", "poster_path", "adult", "backdrop_path", "genre_names", "value" ])

In [154]:
clean_df_v5['production_budget'] = clean_df_v5['production_budget'].map(lambda x: int(str(x).strip("$").replace(',', '')))
clean_df_v5['domestic_gross'] = clean_df_v5['domestic_gross'].map(lambda x: int(str(x).strip("$").replace(',', '')))
clean_df_v5['worldwide_gross'] = clean_df_v5['worldwide_gross'].map(lambda x: int(str(x).strip("$").replace(',', '')))

In [160]:
clean_df_v5['worldwide_profit(loss)'] = clean_df_v5['worldwide_gross'] - clean_df_v5['production_budget']

In [162]:
clean_df_v5.drop(columns = "worldwide_profit", inplace = True)

In [163]:
clean_df_v5['ROI'] = clean_df_v5['worldwide_profit(loss)'] / clean_df_v5['production_budget']

In [176]:
clean_df_v5["month"] = clean_df_v5["release_date_y"].map(lambda x: int(x.split("-")[1]))

In [177]:
clean_df_v5["day"] = clean_df_v5["release_date_y"].map(lambda x: int(x.split("-")[2]))

In [180]:
clean_df_v5["year"] = clean_df_v5["year"].map(int)

In [183]:
clean_df_v5.rename(columns = {"release_date_y": "release_date"}, inplace = True)

In [193]:
new_cols = {}
for name in clean_df_v5.columns:
    new_cols[name] = name.lower().replace(" ", "_")

In [195]:
clean_df_v5.rename(columns = new_cols, inplace = True)

In [197]:
clean_df_v5.columns

Index(['title', 'production_budget', 'domestic_gross', 'worldwide_gross',
       'year', 'popularity', 'vote_count', 'video', 'original_language',
       'original_title', 'genre_ids', 'vote_average', 'overview',
       'release_date', 'action', 'adventure', 'animation', 'comedy', 'crime',
       'documentary', 'drama', 'family', 'fantasy', 'history', 'horror',
       'music', 'mystery', 'romance', 'science_fiction', 'tv_movie',
       'thriller', 'war', 'western', 'worldwide_profit(loss)', 'roi', 'month',
       'day'],
      dtype='object')

In [224]:
clean_df_v6 = clean_df_v5[['title','original_title', 'year', 'month', 'day', 'release_date', 'production_budget', 'domestic_gross', 'worldwide_gross', 
                           'worldwide_profit(loss)', 'roi', 'popularity', 'vote_count', 'vote_average', 'video', 'original_language', 'genre_ids',
        'action', 'adventure', 'animation', 'comedy', 'crime',
       'documentary', 'drama', 'family', 'fantasy', 'history', 'horror',
       'music', 'mystery', 'romance', 'science_fiction', 'tv_movie',
       'thriller', 'war', 'western', 'overview']]

In [225]:
clean_df_v6.drop(columns = "video", inplace = True)

In [226]:
series = clean_df_v6.duplicated()
duplicates = clean_df_v6[series].index

In [227]:
clean_df_v7 = clean_df_v6.drop(index = list(duplicates))

In [232]:
clean_df_v7.to_csv("cleaned_data.csv")