In [101]:
from bs4 import BeautifulSoup
import pandas as pd
import requests
import json
from config import omdb_api_key
import numpy as np

In [39]:
def get_info(soup):
    '''info = {}
    title_link = soup.find('h3').find('a')
    info['id'] = title_link['href'].split('/')[2]
    info['title'] = title_link.get_text(strip=True)
    return info'''
    return soup.find('h3').find('a')['href'].split('/')[2]

In [40]:
def get_company_movie_ids(company_id):
    start = 1
    next_tag = True
    results = []
    while next_tag:
        print(start)
        soup = BeautifulSoup(requests.get(f'https://www.imdb.com/search/title/?companies={company_id}&sort=release_date,asc&start={start}').content, 'html.parser')
        for item in soup.find_all('div', class_='lister-item mode-advanced'):
            results.append(get_info(item))
        next_tag = soup.find('a', class_='lister-page-next')
        start += 50
    return results

In [41]:
stream_companies = [
    {'name':'Netflix Studios', 'id':'co0650527'},
    {'name':'Amazon Studios', 'id':'co0319272'},
    {'name':'Hulu Originals', 'id':'co0687042'}
]

big_companies = [
    {'name':'Warner Bros. Entertainment', 'id':'co0080422'},
    {'name':'Columbia Pictures', 'id':'co0050868'},
    {'name':'Hulu Originals', 'id':'co0687042'}
]

In [42]:
results = []
for company in stream_companies:
    print(company['name'])
    company_results = get_company_movie_ids(company['id'])
    '''for company_result in company_results:
        company_result['company_id'] = company['id']
        company_result['company_name'] = company['name']'''
    results.extend(company_results)

Netflix Studios
1
51
101
151
Amazon Studios
1
51
101
151
201
251
301
351
401
451
501
551
601
651
701
751
801
851
901
951
1001
1051
Hulu Originals
1

In [60]:
entries = []
for i, result in enumerate(results):
    print(i, result)
    response = requests.get(f'http://www.omdbapi.com/?apikey={omdb_api_key}&i={result}')
    entries.append(response.json())
df = pd.DataFrame(entries)

0 tt0085794
1 tt2833398
2 tt3004634
3 tt4624852
4 tt5149528
5 tt4922804
6 tt6021260
7 tt6948354
8 tt7127976
9 tt7164714
10 tt7539884
11 tt4574334
12 tt4574334
13 tt4574334
14 tt4574334
15 tt4574334
16 tt4574334
17 tt4574334
18 tt4574334
19 tt4574334
20 tt7738550
21 tt7736664
22 tt7806998
23 tt7807000
24 tt7983844
25 tt8292086
26 tt6656238
27 tt6656238
28 tt6656238
29 tt6656238
30 tt6656238
31 tt6656238
32 tt6656238
33 tt7525778
34 tt9897038
35 tt8080054
36 tt8080054
37 tt8080054
38 tt8080054
39 tt8080054
40 tt8080054
41 tt8080054
42 tt7668518
43 tt7668518
44 tt7668518
45 tt7668518
46 tt7668518
47 tt7668518
48 tt7668518
49 tt7668518
50 tt7668518
51 tt7668518
52 tt7668518
53 tt7042146
54 tt8080054
55 tt8080054
56 tt8080054
57 tt8080054
58 tt8080054
59 tt8027624
60 tt10050772
61 tt10050772
62 tt10050772
63 tt10050772
64 tt10050772
65 tt10050772
66 tt7668518
67 tt7668518
68 tt7668518
69 tt7668518
70 tt7668518
71 tt7668518
72 tt7668518
73 tt7668518
74 tt8778064
75 tt8778064
76 tt8778064
77 tt8778064
78 tt8778064
79 tt8778064
80 tt8778064
81 tt8778064
82 tt8778064
83 tt8778064
84 tt8080054
85 tt8080054
86 tt8080054
87 tt8080054
88 tt8080054
89 tt8403536
90 tt4574334
91 tt12102022
92 tt4574334
93 tt4574334
94 tt4574334
95 tt4574334
96 tt4574334
97 tt4574334
98 tt4574334
99 tt8080054
100 tt8080054
101 tt11474574
102 tt8080054
103 tt8080054
104 tt8080054
105 tt8080054
106 tt8387348
107 tt12374132
108 tt8080054
109 tt9310400
110 tt8080054
111 tt11243536
112 tt8080054
113 tt11353562
114 tt8080054
115 tt8080054
116 tt8080054
117 tt8080054
118 tt11318624
119 tt10075318
120 tt12427840
121 tt8680086
122 tt10482560
123 tt11561206
124 tt9244578
125 tt9354842
126 tt11474156
127 tt7668518
128 tt8080054
129 tt8080054
130 tt8080054
131 tt8080054
132 tt12190580
133 tt8080054
134 tt8080054
135 tt8080054
136 tt11286902
137 tt11286902
138 tt11286902
139 tt11286902
140 tt11286902
141 tt11286902
142 tt11286902
143 tt11286902
144 tt11286902
145 tt11286902
146 tt11286902
147 tt7668518
148 tt7668518
149 tt9789660
150 tt12923734
151 tt13178398
152 tt13206564
153 tt10009170
154 tt13236566
155 tt12299824
156 tt13003654
157 tt10621222
158 tt11617848
159 tt12747748
160 tt12877640
161 tt12885670
162 tt12965356
163 tt12985980
164 tt13007592
165 tt13139858
166 tt13192686
167 tt2055668
168 tt9314994
169 tt0479842
170 tt1353056
171 tt2157443
172 tt2570278
173 tt1504489
174 tt12211110
175 tt2301351
176 tt2090440
177 tt3012160
178 tt2584090
179 tt2584096
180 tt2584098
181 tt2584172
182 tt2584174
183 tt2670414
184 tt2670434
185 tt2948562
186 tt3012540
187 tt3012532
188 tt3012184
189 tt2803390
190 tt2948562
191 tt3012160
192 tt3012184
193 tt3012532
194 tt3012540
195 tt3012160
196 tt3012160
197 tt3012160
198 tt3012160
199 tt3012160
200 tt3012160
201 tt3012160
202 tt3012160
203 tt3225714
204 tt3225714
205 tt3012160
206 tt3012160
207 tt3145422
208 tt3147330
209 tt3147330
210 tt3502248
211 tt3502172
212 tt3473724
213 tt3473724
214 tt3496654
215 tt3496702
216 tt3496764
217 tt3496824
218 tt3502172
219 tt3502248
220 tt3502262
221 tt3496702
222 tt3496824
223 tt2401217
224 tt2948562
225 tt2948562
226 tt2948562
227 tt2948562
228 tt2948562
229 tt3502262
230 tt3973808
231 tt3505662
232 tt3973768
233 tt3973820
234 tt3683278
235 tt3683278
236 tt3973768
237 tt3973808
238 tt3973820
239 tt3502262
240 tt3502262
241 tt3502262
242 tt3502262
243 tt3502262
244 tt3502262
245 tt3502262
246 tt3502262
247 tt3502262
248 tt3503520
249 tt3503520
250 tt3503520
251 tt3503520
252 tt3012160
253 tt3503520
254 tt3503520
255 tt3503520
256 tt3503520
257 tt3496764
258 tt3503520
259 tt3503520
260 tt3503520
261 tt3503520
262 tt3503520
263 tt3502172
264 tt3502172
265 tt3502172
266 tt3502172
267 tt3502172
268 tt3502172
269 tt3502172
270 tt3502172
271 tt3502172
272 tt3503520
273 tt3503520
274 tt3503520
275 tt1740299
276 tt3833470
277 tt1740299
278 tt2805574
279 tt3882018
280 tt3915196
281 tt3952746
282 tt3952772
283 tt3952774
284 tt3952780
285 tt4033704
286 tt4103160
287 tt4115864
288 tt3952774
289 tt3503520
290 tt4374208
291 tt3503520
292 tt4384904
293 tt3498622
294 tt3503520
295 tt3503520
296 tt3502248
297 tt3502248
298 tt3502248
299 tt3502248
300 tt3502248
301 tt3502248
302 tt3502248
303 tt3502248
304 tt3502248
305 tt3503520
306 tt3503520
307 tt3503520
308 tt3503520
309 tt3277624
310 tt3503520
311 tt3503520
312 tt3503520
313 tt3138604
314 tt3496764
315 tt3496764
316 tt3496764
317 tt3496764
318 tt3496764
319 tt3496764
320 tt4759942
321 tt4759942
322 tt4759942
323 tt4759942
324 tt4759942
325 tt4759942
326 tt4196686
327 tt4677840
328 tt4677842
329 tt4677844
330 tt4677846
331 tt4677876
332 tt5011816
333 tt4397438
334 tt5011816
335 tt3496824
336 tt3496824
337 tt3496824
338 tt3496824
339 tt3496824
340 tt3496824
341 tt3496824
342 tt3496824
343 tt3496824
344 tt3496824
345 tt3496824
346 tt3496824
347 tt3496824
348 tt2910904
349 tt4298468
350 tt3496764
351 tt3496764
352 tt4878612
353 tt4687882
354 tt4687892
355 tt4687892
356 tt4630676
357 tt4687906
358 tt4947608
359 tt5120600
360 tt5135912
361 tt5135956
362 tt5135962
363 tt7344644
364 tt5136000
365 tt4630676
366 tt7344644
367 tt4594834
368 tt11247158
369 tt4399942
370 tt4144190
371 tt5236900
372 tt3068194
373 tt4034228
374 tt4632316
375 tt4230700
376 tt4938084
377 tt3502248
378 tt3502248
379 tt3502248
380 tt3502248
381 tt3502248
382 tt3502248
383 tt3502248
384 tt3502248
385 tt3502248
386 tt3502248
387 tt6613890
388 tt2093991
389 tt4513674
390 tt4016934
391 tt5247022
392 tt2410290
393 tt1714917
394 tt1974419
395 tt5186714
396 tt1292576
397 tt3390892
398 tt5195428
399 tt5562036
400 tt5588840
401 tt5589182
402 tt5615874
403 tt5672830
404 tt3390892
405 tt5637798
406 tt3952774
407 tt2801158
408 tt6521852
409 tt5540054
410 tt5540054
411 tt5478730
412 tt6682754
413 tt3952774
414 tt3952774
415 tt3952774
416 tt3952774
417 tt3952774
418 tt3952774
419 tt3952774
420 tt3952774
421 tt5860892
422 tt5860892
423 tt5860892
424 tt5860892
425 tt5860892
426 tt5860892
427 tt5860892
428 tt1691152
429 tt5804038
430 tt3502262
431 tt4354616
432 tt4354616
433 tt4354616
434 tt4354616
435 tt4354616
436 tt4354616
437 tt4354616
438 tt4687880
439 tt3952746
440 tt1212428
441 tt6000818
442 tt4687892
443 tt4687892
444 tt4687892
445 tt4687892
446 tt4687892
447 tt4687892
448 tt4687892
449 tt4687892
450 tt1371652
451 tt1371652
452 tt1371652
453 tt1371652
454 tt1371652
455 tt1371652
456 tt1371652
457 tt1371652
458 tt4687892
459 tt4677846
460 tt5712554
461 tt5712554
462 tt5712554
463 tt6119048
464 tt6186164
465 tt6205148
466 tt5712554
467 tt5712554
468 tt5712554
469 tt5712554
470 tt5712554
471 tt5712554
472 tt5712554
473 tt5011816
474 tt5011816
475 tt5011816
476 tt5011816
477 tt5011816
478 tt5011816
479 tt5011816
480 tt5011816
481 tt5011816
482 tt5712554
483 tt5462602
484 tt5737862
485 tt5712554
486 tt6333056
487 tt3268340
488 tt4143508
489 tt3498622
490 tt4878612
491 tt5712554
492 tt3498622
493 tt5712554
494 tt3498622
495 tt3498622
496 tt3498622
497 tt3498622
498 tt4927984
499 tt3012532
500 tt3498622
501 tt3498622
502 tt5462886
503 tt5788792
504 tt5788814
505 tt6101624
506 tt5462886
507 tt5462886
508 tt5462886
509 tt6268052
510 tt6613768
511 tt3498622
512 tt6509214
513 tt3498622
514 tt2948562
515 tt5968748
516 tt3502248
517 tt4218696
518 tt5208216
519 tt5200330
520 tt5200330
521 tt5200330
522 tt5200330
523 tt5200330
524 tt5200330
525 tt5200330
526 tt5200330
527 tt5200330
528 tt5200330
529 tt5200330
530 tt5200330
531 tt5200330
532 tt5200330
533 tt5742374
534 tt6628364
535 tt6807046
536 tt5120600
537 tt5120600
538 tt5120600
539 tt5120600
540 tt5120600
541 tt5120600
542 tt5120600
543 tt5120600
544 tt5120600
545 tt5120600
546 tt5120600
547 tt5120600
548 tt5120600
549 tt6112414
550 tt0460890
551 tt5834198
552 tt5834198
553 tt5834198
554 tt5834198
555 tt5834198
556 tt5834198
557 tt5834198
558 tt5439796
559 tt5540054
560 tt5540054
561 tt5540054
562 tt5540054
563 tt5540054
564 tt7281972
565 tt7286078
566 tt7293158
567 tt5884230
568 tt5711280
569 tt7162324
570 tt6794990
571 tt6018306
572 tt6864570
573 tt5133742
574 tt6130902
575 tt6130902
576 tt6130902
577 tt6130902
578 tt6130902
579 tt6130902
580 tt6130902
581 tt5825380
582 tt5932548
583 tt6749328
584 tt6749330
585 tt7058078
586 tt3952774
587 tt3952774
588 tt3952774
589 tt7642718
590 tt5788792

591 tt5712554
592 tt5712554
593 tt5712554
594 tt6148744
595 tt5712554
596 tt6714738
597 tt6722926
598 tt6271042
599 tt7746718
600 tt5712554
601 tt5712554
602 tt5268348
603 tt5932548
604 tt5932548
605 tt5932548
606 tt5932548
607 tt5932548
608 tt5932548
609 tt5932548
610 tt5932548
611 tt5712554
612 tt6288124
613 tt5437928
614 tt5712554
615 tt6466208
616 tt7768846
617 tt9327146
618 tt5712554
619 tt5712554
620 tt7841526
621 tt5712554
622 tt6038954
623 tt5540054
624 tt5540054
625 tt5540054
626 tt5540054
627 tt5540054
628 tt5540054
629 tt3721964
630 tt5011816
631 tt7913564
632 tt1082583
633 tt6118426
634 tt6118426
635 tt8134160
636 tt8183162
637 tt6118426
638 tt6118426
639 tt8077544
640 tt6121710
641 tt6121710
642 tt6121710
643 tt6121710
644 tt6121710
645 tt6121710
646 tt6121710
647 tt6121710
648 tt6121710
649 tt6121710
650 tt6121710
651 tt6543652
652 tt8271124
653 tt8301070
654 tt6938856
655 tt6938856
656 tt5200330
657 tt6938856
658 tt7473890
659 tt8169088
660 tt6938856
661 tt8440450
662 tt7336778
663 tt8201502
664 tt8201502
665 tt8098164
666 tt7985540
667 tt7985540
668 tt8201502
669 tt8201502
670 tt8201502
671 tt7653274
672 tt8201502
673 tt5057054
674 tt5057054
675 tt5057054
676 tt5057054
677 tt5057054
678 tt5057054
679 tt5057054
680 tt5057054
681 tt5057054
682 tt1034415
683 tt4614612
684 tt7076630
685 tt7076630
686 tt8201502
687 tt7076630
688 tt1226837
689 tt7008682
690 tt7008682
691 tt7008682
692 tt7008682
693 tt7008682
694 tt5989218
695 tt7945440
696 tt7076630
697 tt8201502
698 tt7720790
699 tt8201502
700 tt8201502
701 tt7076630
702 tt9014000
703 tt8201502
704 tt7076630
705 tt9053502
706 tt8201502
707 tt7076630
708 tt7076630
709 tt6148324
710 tt6599482
711 tt6148324
712 tt6148324
713 tt6148324
714 tt6148324
715 tt6148324
716 tt7456306
717 tt7456306
718 tt6599482
719 tt7008682
720 tt7008682
721 tt7008682
722 tt7008682
723 tt7008682
724 tt7008682
725 tt7095194
726 tt7095194
727 tt7095194
728 tt7095194
729 tt7095194
730 tt6473300
731 tt7558708
732 tt8271176
733 tt9149382
734 tt9149388
735 tt9132960
736 tt9132960
737 tt9132960
738 tt9132960
739 tt9132960
740 tt9132960
741 tt9132960
742 tt8783862
743 tt8463714
744 tt7354736
745 tt5712554
746 tt5712554
747 tt6107548
748 tt8151874
749 tt5712554
750 tt6803046
751 tt8236336
752 tt8923482
753 tt7778680
754 tt8759834
755 tt7671064
756 tt9134666
757 tt9134666
758 tt2404465
759 tt5712554
760 tt6932244
761 tt6932244
762 tt5712554
763 tt5712554
764 tt9134666
765 tt9134666
766 tt9134666
767 tt8128344
768 tt5712554
769 tt8450534
770 tt5712554
771 tt7459986
772 tt7459986
773 tt7459986
774 tt7459986
775 tt7459986
776 tt7459986
777 tt7459986
778 tt7459986
779 tt7459986
780 tt5687612
781 tt5712554
782 tt6536550
783 tt9735758
784 tt5687612
785 tt5712554
786 tt5687612
787 tt5712554
788 tt5687612
789 tt5712554
790 tt5687612
791 tt5540054
792 tt5540054
793 tt5540054
794 tt5540054
795 tt5540054
796 tt5540054
797 tt5540054
798 tt5540054
799 tt5540054
800 tt5540054
801 tt5687612
802 tt6435118
803 tt8858104
804 tt8299768
805 tt10199590
806 tt6390668
807 tt1869454
808 tt1869454
809 tt9882084
810 tt6517320
811 tt8772296
812 tt8819906
813 tt10559318
814 tt1190634
815 tt1190634
816 tt10543784
817 tt10543784
818 tt10543784
819 tt10543784
820 tt10543784
821 tt10543784
822 tt10543784
823 tt10543784
824 tt10543784
825 tt1190634
826 tt1190634
827 tt1190634
828 tt1190634
829 tt1190634
830 tt1190634
831 tt1190634
832 tt9170224
833 tt6436726
834 tt8462276
835 tt10608506
836 tt10662040
837 tt9657544
838 tt9863788
839 tt7983880
840 tt0489974
841 tt1780967
842 tt6141246
843 tt8332438
844 tt5363618
845 tt6017756
846 tt3864056
847 tt8101850
848 tt9702106
849 tt9544034
850 tt10954364
851 tt9138156
852 tt6654046
853 tt6654046
854 tt10350924
855 tt11090314
856 tt8535180
857 tt8543390
858 tt8543390
859 tt8543390
860 tt8543390
861 tt8543390
862 tt7098662
863 tt6654046
864 tt6654046
865 tt6654046
866 tt6654046
867 tt11085036
868 tt8005176
869 tt8005176
870 tt8005176
871 tt8005176
872 tt8005176
873 tt8005176
874 tt8005176
875 tt8005176
876 tt8005176
877 tt8005176
878 tt8005176
879 tt11225428
880 tt6654046
881 tt6654046
882 tt3230854
883 tt3230854
884 tt3230854
885 tt3230854
886 tt3230854
887 tt3230854
888 tt3230854
889 tt3230854
890 tt3230854
891 tt3230854
892 tt10699682
893 tt8129680
894 tt9207470
895 tt10472008
896 tt11302324
897 tt11468536
898 tt6865630
899 tt10821190
900 tt7826376
901 tt7826376
902 tt8242084
903 tt8806524
904 tt10442360
905 tt11433098
906 tt9902160
907 tt11327514
908 tt11416746
909 tt8656686
910 tt9827834
911 tt11141900
912 tt11621718
913 tt11621622
914 tt10485750
915 tt12602122
916 tt7456722
917 tt11269130
918 tt11347692
919 tt10687992
920 tt11102740
921 tt11160690
922 tt8962394
923 tt8741290
924 tt9073074
925 tt12020772
926 tt12054406
927 tt12020784
928 tt12054428
929 tt12054602
930 tt12058952
931 tt12262372
932 tt9680440
933 tt7008682
934 tt7008682
935 tt7008682
936 tt7008682
937 tt7008682
938 tt7008682
939 tt7008682
940 tt6964748
941 tt10091306
942 tt10091306
943 tt10091306
944 tt10091306
945 tt10091306
946 tt10091306
947 tt10091306
948 tt10091306
949 tt10091306
950 tt11691722
951 tt12323842
952 tt10846292
953 tt12491408
954 tt12602122
955 tt9814458
956 tt9814458
957 tt9814458
958 tt12675790
959 tt8527842
960 tt5843876
961 tt12996012
962 tt11188556
963 tt11188556
964 tt11188556
965 tt11188556
966 tt12215286
967 tt10612922
968 tt11188556
969 tt11188556
970 tt11188556
971 tt12298506
972 tt12538822
973 tt11188556
974 tt11188556
975 tt11188556
976 tt9252488
977 tt3464896
978 tt3464896
979 tt12945004
980 tt3464896
981 tt8303474
982 tt8303474
983 tt8303474
984 tt8303474
985 tt8303474
986 tt8303474
987 tt8303474
988 tt8303474
989 tt8303474
990 tt8760304
991 tt13103876
992 tt3464896
993 tt13185290
994 tt11044858
995 tt12882620
996 tt10243992
997 tt13096334
998 tt13143964
999 tt12642796
1000 tt7907922
1001 tt13157084
1002 tt12850564
1003 tt3464896
1004 tt2124780
1005 tt6654046
1006 tt6654046
1007 tt3464896
1008 tt10344410
1009 tt10408914
1010 tt10541088
1011 tt11235772
1012 tt11401354
1013 tt10344410
1014 tt7689030
1015 tt8633062
1016 tt8633062
1017 tt9064858
1018 tt9099984
1019 tt0499097
1020 tt10333426
1021 tt10687506
1022 tt10698534
1023 tt11558692
1024 tt11771006
1025 tt13138972
1026 tt6217926
1027 tt6741278
1028 tt7462410
1029 tt7492014
1030 tt8226360
1031 tt0482500
1032 tt10005948
1033 tt10096500
1034 tt10155724
1035 tt10172266
1036 tt10345942
1037 tt10369484
1038 tt10449262
1039 tt10449292
1040 tt10466768
1041 tt12530128
1042 tt10554486
1043 tt10556338
1044 tt10608454
1045 tt10623646
1046 tt10660614
1047 tt10696998
1048 tt10698502
1049 tt10698566
1050 tt10698574
1051 tt10720524
1052 tt10731092
1053 tt10763638
1054 tt10833482
1055 tt10922064
1056 tt11045560
1057 tt11062702
1058 tt11080108
1059 tt11097702
1060 tt11102716
1061 tt11102768
1062 tt11127372
1063 tt11224730
1064 tt11286210
1065 tt11383348
1066 tt10556338
1067 tt10556338
1068 tt10556338
1069 tt11465470
1070 tt11515264
1071 tt11516346
1072 tt11519122
1073 tt11646832
1074 tt11685912
1075 tt11685972
1076 tt11743610
1077 tt11778700
1078 tt11794812
1079 tt11828346
1080 tt11828386
1081 tt11877912
1082 tt11878172
1083 tt11895484
1084 tt11921588
1085 tt11947352
1086 tt12035414
1087 tt12076980
1088 tt12263852
1089 tt12401288
1090 tt12412166
1091 tt12455826
1092 tt12490462
1093 tt12530128
1094 tt12609338
1095 tt12637874
1096 tt12688596
1097 tt12688662
1098 tt12718590
1099 tt12791714
1100 tt12800524
1101 tt12803134
1102 tt12861604
1103 tt12930350
1104 tt13013746
1105 tt13014328
1106 tt13014406
1107 tt13060064
1108 tt13139228
1109 tt13140742
1110 tt13155430
1111 tt13159924
1112 tt13179174
1113 tt13186550
1114 tt13196894
1115 tt13213010
1116 tt1486673
1117 tt2215593
1118 tt2226405
1119 tt2401145
1120 tt2401155
1121 tt2401167
1122 tt2401177
1123 tt2401203
1124 tt2401205
1125 tt2401221
1126 tt2401227
1127 tt2401229
1128 tt2408046
1129 tt2435462
1130 tt2485986
1131 tt2637556
1132 tt2882542
1133 tt3027326
1134 tt3045628
1135 tt3341646
1136 tt3370198
1137 tt3706352
1138 tt4025962
1139 tt4255018
1140 tt4323410
1141 tt4361056
1142 tt4575616
1143 tt4624606
1144 tt4995540
1145 tt5046952
1146 tt5181816
1147 tt5246938
1148 tt5270936
1149 tt5273516
1150 tt5292366
1151 tt5315206
1152 tt5486670
1153 tt5500070
1154 tt5517318
1155 tt5522966
1156 tt5530412

1157 tt5536746
1158 tt5563320
1159 tt5615354
1160 tt5648882
1161 tt5667570
1162 tt5771354
1163 tt5788832
1164 tt5853134
1165 tt5969060
1166 tt5992672
1167 tt6045906
1168 tt6083682
1169 tt6151198
1170 tt6170510
1171 tt6328208
1172 tt6335580
1173 tt6388084
1174 tt6495666
1175 tt6498778
1176 tt6628782
1177 tt6681512
1178 tt6683504
1179 tt6704932
1180 tt6704972
1181 tt6857380
1182 tt6866108
1183 tt7008908
1184 tt7038184
1185 tt7255490
1186 tt7294450
1187 tt7445646
1188 tt7631058
1189 tt7653302
1190 tt7768300
1191 tt7772586
1192 tt7941266
1193 tt7941290
1194 tt7970556
1195 tt7971500
1196 tt7974256
1197 tt8040862
1198 tt8280928
1199 tt8291284
1200 tt8390480
1201 tt8431322
1202 tt8446406
1203 tt8451692
1204 tt8451822
1205 tt8554478
1206 tt8633046
1207 tt8633426
1208 tt8661334
1209 tt8688332
1210 tt8749198
1211 tt8773420
1212 tt8792594
1213 tt8792890
1214 tt8888400
1215 tt8893512
1216 tt8994298
1217 tt9058096
1218 tt9099566
1219 tt9155004
1220 tt9252408
1221 tt9288006
1222 tt9288030
1223 tt9319788
1224 tt9356916
1225 tt9398676
1226 tt9419068
1227 tt9585070
1228 tt9794044
1229 tt9805334
1230 tt9860748
1231 tt9883720
1232 tt11214632
1233 tt11909220
1234 tt12735928
1235 tt2401187
1236 tt8554478
1237 tt8554478
1238 tt8554478
1239 tt8554478
1240 tt8554478
1241 tt8554478
1242 tt1236246
1243 tt1236246
1244 tt4647692
1245 tt4647692
1246 tt4647692
1247 tt4647692
1248 tt4647692
1249 tt4647692
1250 tt4647692
1251 tt9059760
1252 tt8777690
1253 tt8427140
1254 tt13286676

In [61]:
df

,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,Actors,Plot,...,imdbVotes,imdbID,Type,DVD,BoxOffice,Production,Website,Response,totalSeasons,Error
0,The King of Comedy,1982,PG,18 Dec 1982,109 min,"Comedy, Crime, Drama, Thriller",Martin Scorsese,Paul D. Zimmerman,"Robert De Niro, Jerry Lewis, Diahnne Abbott, S...",Rupert Pupkin is a passionate yet unsuccessful...,...,"84,879",tt0085794,movie,N/A,N/A,Embassy International Pictures,N/A,True,NaN,NaN
1,Doug Stanhope: Beer Hall Putsch,2013,Not Rated,06 Sep 2013,61 min,"Documentary, Comedy",Jay Karas,Doug Stanhope,Doug Stanhope,Named after Hitler's first failed coup attempt...,...,907,tt2833398,movie,N/A,N/A,N/A,N/A,True,NaN,NaN
2,Marc Maron: Thinky Pain,2013,Not Rated,15 Oct 2013,95 min,Comedy,Lance Bangs,Marc Maron,"Marc Maron, Sam Lipsyte, Tom Scharpling",Marc Maron returns to his old stomping grounds...,...,"1,682",tt3004634,movie,N/A,N/A,N/A,N/A,True,NaN,NaN
3,Chris D'Elia: Incorrigible,2015,TV-MA,17 Apr 2015,83 min,"Documentary, Comedy",Bill D'Elia,N/A,Chris D'Elia,Stand-up comedian Chris D'Elia covers everythi...,...,"1,196",tt4624852,movie,N/A,N/A,N/A,N/A,True,NaN,NaN
4,Retribution,2016,TV-MA,23 Aug 2016,60 min,"Drama, Mystery, Thriller",N/A,N/A,"Owen Whitelaw, Adrian Edmondson, Kate Bracken,...",A horrific murder rocks the lives of two famil...,...,"6,172",tt5149528,series,NaN,NaN,NaN,NaN,True,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1250,Letterkenny,2016–,TV-MA,07 Feb 2016,30 min,Comedy,N/A,"Jared Keeso, Jacob Tierney","Jared Keeso, Nathan Dales, Michelle Mylett, K....","Quick-witted, fast-paced snappy comedy about r...",...,"12,273",tt4647692,series,NaN,NaN,NaN,NaN,True,8,NaN
1251,Normal People,2020,TV-14,29 Apr 2020,N/A,"Drama, Romance",N/A,N/A,"Daisy Edgar-Jones, Paul Mescal, Desmond Eastwo...","Follows Marianne and Connell, from different b...",...,"25,879",tt9059760,series,NaN,NaN,NaN,NaN,True,1,NaN
1252,Crossing Swords,2020–,TV-MA,12 Jun 2020,N/A,"Animation, Comedy, Fantasy",N/A,"John Harvatine IV, Tom Root","Nicholas Hoult, Luke Evans, Adam Pally, Alanna...",A good-hearted peasant dreaming of knighthood ...,...,756,tt8777690,series,NaN,NaN,NaN,NaN,True,1,NaN
1253,Into the Dark,2018–,TV-MA,05 Oct 2018,90 min,"Horror, Thriller",N/A,N/A,"Aurora Perrineau, Diane Sellers, Dylan Arnold,...",A horror anthology series with each episode in...,...,"3,367",tt8427140,series,NaN,NaN,NaN,NaN,True,2,NaN
1254,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,Error getting data.

In [66]:
movies_df = df[df['Type']=='movie']

In [78]:
movies_df.columns

Index(['Title', 'Year', 'Rated', 'Released', 'Runtime', 'Genre', 'Director',
       'Writer', 'Actors', 'Plot', 'Language', 'Country', 'Awards', 'Poster',
       'Ratings', 'Metascore', 'imdbRating', 'imdbVotes', 'imdbID', 'Type',
       'DVD', 'BoxOffice', 'Production', 'Website', 'Response', 'totalSeasons',
       'Error'],
      dtype='object')

In [76]:
budget_df = pd.read_csv('tn.movie_budgets.csv')

In [77]:
budget_df

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"
...,...,...,...,...,...,...
5777,78,"Dec 31, 2018",Red 11,"$7,000",$0,$0
5778,79,"Apr 2, 1999",Following,"$6,000","$48,482","$240,495"
5779,80,"Jul 13, 2005",Return to the Land of Wonders,"$5,000","$1,338","$1,338"
5780,81,"Sep 29, 2015",A Plague So Pleasant,"$1,400",$0,$0
5781,82,"Aug 5, 2005",My Date With Drew,"$1,100","$181,041","$181,041"

In [128]:
def get_budget(title):
    try:
        return int(list(budget_df.loc[budget_df['movie']==title, 'production_budget'])[0][1:].replace(',',''))
    except IndexError:
        return np.nan

In [129]:
get_budget('Red 11')

7000

In [130]:
movies_df['tn_production_budget'] = movies_df.Title.map(get_budget)

C:\Users\Andrew\anaconda3\envs\learn-env\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [132]:
movies_df.loc[movies_df['tn_production_budget']>=True]

,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,Actors,Plot,...,imdbID,Type,DVD,BoxOffice,Production,Website,Response,totalSeasons,Error,tn_production_budget
176,Zombieland,2013,TV-MA,19 Apr 2013,28 min,"Adventure, Comedy, Horror",Eli Craig,"Rhett Reese, Paul Wernick","Kirk Ward, Tyler Ross, Maiara Walsh, Izabela V...",Four survivors are killin' zombies and searchi...,...,tt2090440,movie,N/A,N/A,N/A,N/A,True,NaN,NaN,23600000.0
309,Creative Control,2015,R,11 Mar 2016,97 min,"Drama, Sci-Fi",Benjamin Dickinson,"Micah Bloomberg, Benjamin Dickinson","Benjamin Dickinson, Nora Zehetner, Dan Gill, A...","In near future Brooklyn, an ad executive uses ...",...,tt3277624,movie,N/A,N/A,N/A,N/A,True,NaN,NaN,1000000.0
348,The Dressmaker,2015,R,29 Oct 2015,119 min,"Comedy, Drama",Jocelyn Moorhouse,"Rosalie Ham (based on the novel by), Jocelyn M...","Kate Winslet, Judy Davis, Liam Hemsworth, Hugo...",A glamorous woman returns to her small town in...,...,tt2910904,movie,N/A,N/A,"Embankment Films, Screen Australia, Film Art M...",N/A,True,NaN,NaN,11900000.0
373,Manchester by the Sea,2016,R,16 Dec 2016,137 min,Drama,Kenneth Lonergan,Kenneth Lonergan,"Casey Affleck, Ben O'Brien, Kyle Chandler, Ric...",A depressed uncle is asked to take care of his...,...,tt4034228,movie,N/A,N/A,"Roadside Attractions, Big Indie Pictures",N/A,True,NaN,NaN,8500000.0
391,Paterson,2016,R,28 Dec 2016,118 min,"Comedy, Drama, Romance",Jim Jarmusch,"Jim Jarmusch, William Carlos Williams (poem), ...","Adam Driver, Golshifteh Farahani, Nellie, Rizw...",A quiet observation of the triumphs and defeat...,...,tt5247022,movie,N/A,N/A,"Inkjet, Le Pacte",N/A,True,NaN,NaN,5000000.0
394,The Neon Demon,2016,R,24 Jun 2016,117 min,"Horror, Thriller",Nicolas Winding Refn,"Nicolas Winding Refn (story by), Nicolas Windi...","Elle Fanning, Karl Glusman, Jena Malone, Bella...","An aspiring model, Jesse, is new to Los Angele...",...,tt1974419,movie,N/A,N/A,"Space Rocket Nation, Gaumont, Wild Bunch",N/A,True,NaN,NaN,7500000.0
429,I Am Not Your Negro,2016,PG-13,17 Feb 2017,93 min,Documentary,Raoul Peck,"James Baldwin (writings), Raoul Peck (scenario)","Samuel L. Jackson, James Baldwin, Martin Luthe...",Writer James Baldwin tells the story of race i...,...,tt5804038,movie,N/A,N/A,Magnolia Pictures,N/A,True,NaN,NaN,1000000.0
440,The Lost City of Z,2016,PG-13,21 Apr 2017,141 min,"Action, Adventure, Biography, Drama",James Gray,"James Gray (written for the screen by), David ...","Charlie Hunnam, Robert Pattinson, Sienna Mille...","A true-life drama, centering on British explor...",...,tt1212428,movie,11 Jul 2017,"$8,554,554",Amazon Studios/Bleecker Street Media,N/A,True,NaN,NaN,30000000.0
483,The Big Sick,2017,R,14 Jul 2017,120 min,"Comedy, Drama, Romance",Michael Showalter,"Emily V. Gordon, Kumail Nanjiani","Kumail Nanjiani, Zoe Kazan, Holly Hunter, Ray ...",Pakistan-born comedian Kumail Nanjiani and gra...,...,tt5462602,movie,N/A,N/A,"Apatow Films, FilmNation",N/A,True,NaN,NaN,5000000.0
486,City of Ghosts,2017,R,21 Jul 2017,92 min,"Documentary, War",Matthew Heineman,N/A,"Abdelaziz Alhamza, Mohamad Almusari, Hamoud Al...","A documentary that follows the efforts of ""Raq...",...,tt6333056,movie,N/A,N/A,"Our Time Projects, Jigsaw Prods.",N/A,True,NaN,NaN,17500000.0
517,The Wall,2017,R,18 May 2017,88 min,"Action, Drama, Thriller, War",Doug Liman,Dwain Worrell,"Aaron Taylor-Johnson, John Cena, Laith Nakli",Two American Soldiers are trapped by a lethal ...,...,tt4218696,movie,N/A,N/A,"Amazon Studios, Hypnotic",N/A,True,NaN,NaN,3000000.0
558,Logan Lucky,2017,PG-13,18 Aug 2017,118 min,"Comedy, Crime, Drama",Steven Soderbergh,Jules Asner,"Farrah Mackenzie, Channing Tatum, Jim O'Heir, ...",Two brothers attempt to pull off a heist durin...,...,tt5439796,movie,N/A,N/A,"Trans-Radial Pictures, Free Association",N/A,True,NaN,NaN,29000000.0
682,Suspiria,2018,R,02 Nov 2018,152 min,"Fantasy, Horror, Mystery, Thriller",Luca Guadagnino,"Dario Argento (characters), Daria Nicolodi (ch...","Chloë Grace Moretz, Tilda Swinton, Doris Hick,...",A darkness swirls at the center of a world-ren...,...,tt1034415,movie,N/A,N/A,"First Sun, K Period Media, Videa, Frenesy Film...",N/A,True,NaN,NaN,20000000.0
688,Beautiful Boy,2018,R,25 Oct 2018,120 min,"Biography, Drama",Felix van Groeningen,"Luke Davies (screenplay by), Felix van Groenin...","Steve Carell, Maura Tierney, Jack Dylan Grazer...",Based on the best-selling pair of memoirs from...,...,tt1226837,movie,N/A,N/A,Plan B Entertainment,N/A,True,NaN,NaN,25000000.0
747,Late Night,2019,R,14 Jun 2019,102 min,"Comedy, Drama",Nisha Ganatra,Mindy Kaling (screenplay by),"Emma Thompson, Mindy Kaling, John Lithgow, Hug...",A late night talk show host suspects that she ...,...,tt6107548,movie,N/A,N/A,"30West, FilmNation, Imperative Entertainment",N/A,True,NaN,NaN,4000000.0
846,The Goldfinch,2019,R,13 Sep 2019,149 min,Drama,John Crowley,"Peter Straughan (screenplay by), Donna Tartt (...","Oakes Fegley, Ansel Elgort, Nicole Kidman, Jef...",A boy in New York is taken in by a wealthy Upp...,...,tt3864056,movie,N/A,N/A,"Kaap Holland Film, Warner Bros. Pictures, Colo...",N/A,True,NaN,NaN,40000000.0